@import "../base/variable";

.fixed-footer {
  .content-area {
    margin-bottom: 3.5rem;
  }

  .footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $footer-background-color;
  }
}

footer {
  border-top: 1px solid $footer-border-top;
  color: $footer-text-color;
  padding: 1rem 0;
  .f-logo {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .f-menu ul {
    margin-bottom: 0;
    li {
      margin-bottom: 0.25rem;
      a {
        color: $footer-text-color;
        border-bottom: 1px solid transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:focus,
        &:hover {
          color: $active-link-color;
          border-color: $active-link-color;
        }
      }
      &.active a {
        color: $active-link-color;
        border-color: $active-link-color;
      }
    }
  }
  .f-title {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
