@import "../base/variable";

.fixed-header {
  .site-header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.site-header {
  .navbar {
    padding: 0;
    background-color: $navbar-background-color;

    .navbar-left {
      height: 60px;
      background-color: $navbar-left-background-color;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar-brand {
      display: inline-block;
      float: none;
      margin: 0;
      padding: 1.3rem 0 0;
      height: 60px;

      .logo {
        width: 100px;
        height: 25px;
        background: url(/src/assets/img/logo.png) no-repeat;
      }
    }
  }
}
