<div class="section__header">
  <h2 class="section__title">
    {{getAddOrUpdateText()}} Drug
  </h2>
</div>
<form class="needs-validation add-drug-form" [formGroup]="addClientDrugFormGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="client">Client *</label>
      <input type="text" class="form-control" id="client" formControlName="clientId" />
      <p *ngIf="clientId.invalid && formSubmitted">Client is required</p>
    </div>
    <div class="col-md-4 mb-3">
      <label for="ndc">NDC * <i class="fa fa-question-circle" tooltip="{{tooltips.ndc}}"></i></label>
      <input type="text" class="form-control" id="ndc" formControlName="ndc" />
      <p *ngIf="ndc.invalid && formSubmitted">NDC is required</p>
    </div>
    <div class="col-md-4 mb-3">
      <label for="brandName">Brand Name</label>
      <input type="text" class="form-control" id="brandName" formControlName="brandName" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="genericName">Generic Name</label>
      <input type="text" class="form-control" id="genericName" formControlName="genericName" />
    </div>
    <div class="col-md-4 mb-3">
      <label for="strength">Strength</label>
      <input type="text" class="form-control" id="strength" formControlName="strength" />
    </div>
    <div class="col-md-4 mb-3">
      <label for="strength">Strength Unit</label>
      <input type="text" class="form-control" id="strengthUnit" formControlName="strengthUnit" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="otc">OTC <i class="fa fa-question-circle" tooltip="{{tooltips.otc}}"></i></label>
      <input type="text" class="form-control" id="otc" formControlName="otc" />
      <p *ngIf="otc.invalid && !otc.pristine">OTC cannot be more that 1 characters long</p>
    </div>
    <div class="col-md-4 mb-3">
      <label for="supply">Supply <i class="fa fa-question-circle" tooltip="{{tooltips.supply}}"></i></label>
      <input type="text" class="form-control" id="supply" formControlName="supply" />
      <p *ngIf="supply.invalid && !supply.pristine">Supply cannot be more that 1 characters long</p>
    </div>
    <div class="col-md-4 mb-3">
      <label for="generic">Generic <i class="fa fa-question-circle" tooltip="{{tooltips.generic}}"></i></label>
      <input type="text" class="form-control" id="generic" formControlName="generic" />
      <p *ngIf="generic.invalid && !generic.pristine">Generic cannot be more that 1 characters long</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="drugDescription">Drug Description</label>
      <textarea class="form-control" id="drugDescription" formControlName="drugDescription"></textarea>
    </div>
  </div>
  <div class="form__btn-wrapper">
    <button class="btn btn-secondary" type="button" (click)="cancelBtnClicked()"><i
        class="fas fa-times icon"></i>Cancel</button>
    <button class="btn btn-primary" type="submit"><i class="fas fa-plus icon"></i>{{getAddOrUpdateText()}}
      Drug</button>
  </div>
</form>
