<!-- Sidebar -->
<div class="site-overlay"></div>
<div class="site-sidebar">
  <div class="custom-scroll custom-scroll-light">
    <ul class="sidebar-menu">
      <li class="with-sub program-menu">
        <a class="waves-effect waves-light">
          <span class="s-caret"><i class="fas fa-angle-down"></i></span>
          <span class="s-icon"><i class="fas fa-building"></i></span>
          <span class="s-text">Program Name</span>
        </a>
        <ul>
          <li><a href="#">Program Name 1</a></li>
          <li><a href="#">Program Name 2</a></li>
          <li><a href="#">Program Name 3</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="waves-effect waves-light">
          <span class="s-icon"><i class="fas fa-home"></i></span>
          <span class="s-text">Dashboard</span>
        </a>
      </li>
      <li class="with-sub">
        <a class="waves-effect waves-light">
          <span class="s-caret"><i class="fas fa-angle-down"></i></span>
          <span class="s-icon"><i class="fas fa-check-double"></i></span>
          <span class="s-text">Service Requests</span>
        </a>
        <ul>
          <li><a href="#">Search Service Requests</a></li>
          <li><a href="#">Task Management</a></li>
        </ul>
      </li>
      <li class="with-sub">
        <a class="waves-effect waves-light">
          <span class="s-caret"><i class="fas fa-angle-down"></i></span>
          <span class="s-icon"><i class="fas fa-file-invoice"></i></span>
          <span class="s-text">Entity Records</span>
        </a>
        <ul>
          <li><a href="#">Patients</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Insurance</a></li>
          <li><a href="#">Providers</a></li>
          <li><a href="#">Organizations</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="waves-effect  waves-light">
          <span class="s-icon"><i class="fas fa-chart-bar"></i></span>
          <span class="s-text">Reports</span>
        </a>
      </li>
      <li class="with-sub">
        <a class="waves-effect waves-light">
          <span class="s-caret"><i class="fas fa-angle-down"></i></span>
          <span class="s-icon"><i class="fas fa-door-open"></i></span>
          <span class="s-text">Enrollment</span>
        </a>
        <ul>
          <li><a href="#">Initial Enrollment</a></li>
          <li><a href="#">Search Applications</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="waves-effect waves-light">
          <span class="s-icon"><i class="fas fa-cogs"></i></span>
          <span class="s-text">Data Management</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Sidebar second -->
<div class="site-sidebar-second custom-scroll custom-scroll-dark">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab">Tab 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab">Tab 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab">Tab 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab">Tab 4</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-1" role="tabpanel">
      <div class="sidebar-content animated fadeIn">
        CONTENT HERE
      </div>
    </div>
    <div class="tab-pane" id="tab-2" role="tabpanel">
      <div class="sidebar-content animated fadeIn">
        CONTENT HERE
      </div>
    </div>
    <div class="tab-pane" id="tab-3" role="tabpanel">
      <div class="sidebar-content animated fadeIn">
        CONTENT HERE
      </div>
    </div>
    <div class="tab-pane" id="tab-4" role="tabpanel">
      <div class="sidebar-content animated fadeIn">
        CONTENT HERE
      </div>
    </div>
  </div>
</div>
