<a routerLink="add">Add</a>
<table class="table">
  <thead>
  <tr>
    <th>NDC</th>
    <th>Brand Name</th>
    <th>Generic Name</th>
    <th>Strength</th>
    <th>Strength Unit</th>
    <th>Drug Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let drug of clientDrugs">
    <td>{{drug.ndc}}</td>
    <td>{{drug.brandName}}</td>
    <td>{{drug.genericName}}</td>
    <td>{{drug.strength}}</td>
    <td>{{drug.strengthUnit}}</td>
    <td>{{drug.drugDescription}}</td>
    <td><a [routerLink]="['edit', drug.clientDrugId]">Edit</a></td>
  </tr>
  </tbody>
</table>
