<div class="section__header">
  <h2 class="section__title">Client Drug List</h2>
  <a class="section__link section__link--add" routerLink="add"><i class="fa fa-plus link-icon"></i> Add</a>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
  <thead>
  <tr id="search-filters">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Client ID</th>
    <th>NDC</th>
    <th>Brand Name</th>
    <th>Generic Name</th>
    <th>Strength</th>
    <th>Strength Unit</th>
    <th>Drug Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let drug of clientDrugs">
    <td>{{drug.clientId}}</td>
    <td>{{drug.ndc}}</td>
    <td>{{drug.brandName}}</td>
    <td>{{drug.genericName}}</td>
    <td>{{drug.strength}}</td>
    <td>{{drug.strengthUnit}}</td>
    <td>{{drug.drugDescription}}</td>
    <td><a [routerLink]="['edit', drug.clientDrugId]">Edit</a></td>
  </tr>
  </tbody>
</table>
