// font
$base-font-size: 12px;
$base-font-family: "Open Sans", sans-serif;
$header-font-family: "Montserrat", sans-serif;

// colors
$white: #fff;
$wrapper-background-color: #e8ebf0;
$navbar-background-color: #005f7c;
$navbar-left-background-color: #003f53;

$login-background-color: #f7fafb;
$login-text-color: #3c4259;
$input-border-color: #cfd2d4;

// media width
$medium-screen-width: 768px;
$large-screen-width: 991px;
